*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
body{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:aquamarine;
}
.calculator{
    padding: 15px;
    box-shadow: 0 0 15px black;
    border: 2px;
    border-radius: 25px;
}
.display input{
    width: 320px;
    padding: 15px;
    margin: 10px;
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    background: white;
    color:black;
    border-radius: 20%;
    
   
}
input::placeholder{
    color:black;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600px;
    box-shadow: -4px -5px 15px black;
    background: transparent;
    color:black;
    border: 0;
    border-radius: 25%;
    
    cursor: pointer;
}
button:active{
    background:aqua ;
    transform: translate(1px,1px);
}
.oprator{
    color: rgb(196, 40, 40);
    font-weight: 700;
}
#eqBtn{
    background: orangered;
    font-weight: 700;
}
